.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  padding: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > p {
  margin: 0 20vw;
  padding: 10px;
}
.App-button {
  margin: 20px;
  padding: calc(5px + 2vmin);
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}
.Count-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Count-Line {
  width: 90vw;
  color: red;
}
